* {
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  font-family: "Open sans", sans-serif;
  color: #222;
}

/* CSS rules for Header */
#title {
  text-align: center;
}

#subtitle {
  text-align: center;
  font-size: 1.5rem;
}

/* For tablets and pobile phones */
@media (max-width: 700px) {
  #subtitle {
    font-size: 1.2rem;
  }
}

/* CSS rules for image */
figure {
  background-color: #fff;
  padding: 1.5em;
  width: 80%;
  margin: 2em auto;
}

figcaption {
  text-align: center;
  margin-top: -1em;
}

#image {
  display: block;
  width: 50%;
  margin: 2.5em auto;
}

/* For tablets and pobile phones */
@media (max-width: 700px) {
  figure {
    width: 100%;
    padding: 0.7em;
  }

  #image {
    width: 98%;
  }
}

/* CSS rules for tribute info */
#tribute-info {
  padding: 0.5em;
}

#list {
  display: block;
  width: 50%;
  margin: auto;
}

li {
  margin: 1.3em 0;
  padding: 0;
}

#quote {
  margin: 4em auto;
  width: 55%;
  text-align: justify;
}

/* For tablets and pobile phones */
@media (max-width: 700px) {
  #list {
    width: 100%;
  }

  #quote {
    width: 95%;
  }
}

/* CSS rules for Footer */
footer {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
